[submodule "UnityClient/Assets/Locus-Bundle-System"]
	path = UnityClient/Assets/Locus-Bundle-System
	url = git@github.com:ryle-o-wisp/Locus-Bundle-System.git
[submodule "UnityClient/Assets/BackgroundDownload"]
	path = UnityClient/Assets/BackgroundDownload
	url = git@github.com:ryle-o-wisp/BackgroundDownload.git
